.content_container{
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  background-color: black;
}
.content_container h1{
  font-size: 28px;
}
.remote{
  position: fixed;
  top: 10px;
  margin-right: 10px;
}
.selected{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.selected p{
  font-size: 25px;
  margin-left: 7px;
}
.admin{
  position: fixed;
  bottom:0;
  left: 0;
  width: 100px;
  height: 100px;
}
.setting{
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background-color: white;
}
.close{
  color: red;
  font-size: 20px;
  padding: 2px;
  font-weight: bold;
}
.setting h1{
  padding: 10px;
  border: 1px solid black;
  width: 40px;
  margin-top: 10px;
}



.dialog{
  position: fixed;
  top: 10px;
  margin-right: 10px;
  padding: 200px 0;
  background-color: #999;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.input{
  width: 200px;
  padding: 10px 20px;
  height: 50px;
  font-size: 60px;
  text-align: center;
}

.button{
  padding: 40px 30px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
}

.button2{
  padding: 40px 30px;
  background-color: red;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 15px;
}